body {
    margin: 0px;
    padding: 0px;
    
    font-family: 'PT Sans', "sans-serif";
    text-transform: uppercase;
}

 /* .background-main {   
    background-image: url("img/background-main.jpg");   
    }
*/

header {    
    background-image: url("../img/background-main.jpg");
    background-size: 1200px 800px;
    /* background-position: top center; */
    /* background-repeat: no-repeat;     */
}



.welcome-picture {
    background-image: url("../img/welcome.png");    
}

.intro-mask {
    background-image: url("../img/polygon.png");
    }


.background-filter {
    background-image: url(../img/filter-background.jpg);   
    width: 1200px;
    height: auto; 
}


a {
    text-decoration: none;    
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    clip: rect(0 0 0 0);
    padding: 0;
}
    
.navigation {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    min-height: 60px;

    font-size: 14px;
    line-height:  26px;
    color: #000000;
    background-color: #ffffff;
    text-align: center;   
    list-style: none; 
}


.intro-section {
    width: 1200px;
    min-height: 216px;
    margin: 0;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    color: #000000;
}

.intro-section p {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
    
   }

.intro-section span {
    font-size: 14px;
    line-height: 14px;
}



.features-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    text-align: center;
    color: #000000;    
 }

 .features-list h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;  
 }

 .feature-list p {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
 }

 ol li:nth-child(2) {
    list-style: none;
    }

.hotel-feature { 
    display: flex;   
    margin: 0;
    width: 1200px;
    min-height: 256px;    
}

.feature-main {
    margin: 0;
    background-color: #81b3d2;
    color: #ffffff;     
    width: 400px;
    min-height: 256px; 
    padding: 46px 60px 64px 60px;
    box-sizing: border-box;
}

.feature-hotel {
    margin: 0;
    width: 800px;
    min-height: 256px;
}

.icons-group {  
    display: flex;  
    margin: 0px;
    width: 1200px;
    min-height: 336px;
}

.house {
    min-height: 336px;
    width: 400px;
    margin: 0px;
}

.house-pict {
    margin: 0;
    padding: 62px 163px 29px 162px;
    box-sizing: border-box;
}

.house-description {
    margin: 0;
    padding: 0px 75px 85px 73px;
    box-sizing: border-box;
}

/* .house h2 { 
    margin: 0;
    padding: 0 168px 31px 165px;
}

*/

/*
 .house p { 
    margin: 0;
    padding-bottom: 85px;
}

*/

.burger {
    min-height: 336px;
    width: 400px;
    margin: 0px;
}

.burger-pict {
    margin: 0;
    padding: 62px 163px 32px 163px;
    box-sizing: border-box;
}

.burger-description {
    margin: 0px;
    padding: 0px 58px 87px 58px;
    box-sizing: border-box;
}

.souvenir {
    min-height: 336px;
    width: 400px;
    margin: 0px;
}

.souvenir-pict {
    margin: 0;
    padding: 56px 168px 32px 162px;
    box-sizing: border-box;
}

.souvenir-description {
    margin: 0;
    padding: 0px 63px 86px 73px;
    box-sizing: border-box;
}

.feature-mountain {    
    display: flex;
    margin: 0px;
    width: 1200px;
    min-height: 256px;
}

.mountain-pict {
    margin: 0;
    width: 800px;
    min-height: 256px;
}

 .grey-container { 
    display: flex;
    width: 1200px;
    min-height: 256px;
    background-color:  #eeeeee;
}

 

.feature-territory {
    margin: 0;
    width: 400px;
    min-height: 256px;
    padding: 50px 97px 63px 95px;    
    box-sizing: border-box;
}

.feature-road {
    margin: 0;
    width: 400px;
    min-height: 256px;
    padding: 59px 69px 64px 69px;    
    box-sizing: border-box;
}

.feature-tourists {
    margin: 0;
    width: 400px;
    min-height: 256px;
    padding: 50px 77px 64px 77px;    
    box-sizing: border-box;
}


.form-main {
    background-color: #ffffff;
    text-align: center;
}

.form-main p {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #000000;
}

.form-main span {
    font-size: 14px;
    line-height: 24px;
}

.brown-button {
    background-color: #766357;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    }

.search-form {
    background-color: #ffffff;
    color: #000000;
}

input[type="date"],
input[type="number"] {
    background-color: #f2f2f2; 
    color: #000000;
}

.blue-button {
    background-color: #81b3d2;
    color: #ffffff;
}

.footer-main {
    margin: 0;
    width: 967px;
    min-height: 120px;

    display: flex;
    
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

.footer-contacts {
    width: 223px;
    min-height: 120px;
    margin-right: 169px;
}

.footer-social li {
    width: 154px;
    min-height: 120px;
    margin-right: 228px;
    background-color: #81b3d2;
    list-style: none;
}

.footer-devs {
    width: 196px;
    min-height: 120px;

}

/* Hotels page */

.form-hotels {
    min-height: 217px;
    width: 1200px;

    background-color: #000000;
    color: #ffffff;

    display: flex;
    
}

.form-hotels legend {    
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.form-hotels label {    
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}

.infrastructure-filter {
    width: 139px;
    /* margin: 31px 115px 31px 72px; */
    margin: 0;
    padding: 31px 115px 31px 72px;
}

.category-filter {
    width: 400px;
    margin: 0;
    padding: 31px 0px 31px 0px;    
}

.cost-perday {
    width: 1008px;
    margin: 0;
    padding: 87px 74px 35px 50px;
}

.results-of-search {
    min-height: 86px;
    width: 1200px;
    list-style: none;
}

.hotels-container {
    display: flex;
    width: 1200px;
    min-height: 453px;
}

.hotels-container h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotels-container p {
    font-size: 14px;
    line-height: 21px;
}

.accomodation {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #f2f2f2;
}

.hotel-info {
    min-height: 151px;
    width: 1200px;
}

.article-picture {
    margin: 0;
    padding: 30px 30px 30px 72px;
}

.article-item-info {
    width: 756px;
    min-height: 151px;
    margin: 0;
    padding: 30px 522px 30px 0px;
}

.article-value {
    width: 322px;
    min-height: 151px;
    margin: 0;
    padding: 29px 72px 30px 0px;
}