body {
    margin: 0px;
    padding: 0px;
    
    font-family: 'PT Sans', "sans-serif";
    text-transform: uppercase;
}

 /* .background-main {   
    background-image: url("img/background-main.jpg");   
    }
*/

header {
    background-image: url("/img/background-main.jpg");
    background-size: 1200px auto;
    background-position: top center;
    background-repeat: no-repeat;    
}

.welcome-picture {
    background-image: url("/img/welcome.png");    
}

.intro-mask {
    background-image: url("/img/polygon.png");
    }

/*  
.background-filter {
    background-image: url(img/filter-background.jpg);    
}
*/

a {
    text-decoration: none;    
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    clip: rect(0 0 0 0);
    padding: 0;
}
    
.navigation {
    display: flex;
    justify-content: space-evenly;

    font-size: 14px;
    line-height:  26px;
    color: #000000;
    background-color: #ffffff;
    text-align: center;   
    list-style: none; 
}


.intro-section {
    width: 1200px;
    height: 216px;
    margin: 0;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    color: #000000;
}

.intro-section p {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
    
   }

.intro-section span {
    font-size: 14px;
    line-height: 14px;
}



.features-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #000000;    
 }

 .features-list h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;  
 }

 .feature-list p {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
 }

 ol li:nth-child(2) {
    list-style: none;
    }

.hotel-feature {    
    margin: 0;
    width: 1200px;
    height: 256px;    
}

.feature-main {
    margin: 0;
    background-color: #81b3d2;
    color: #ffffff;     
    width: 400px;
    height: 256px; 
    padding: 46px 60px 64px 60px;
}

.feature-hotel {
    margin: 0;
    width: 800px;
    height: 256px;
}

.icons-group {    
    margin: 0px;
    width: 1200px;
    height: 330px;
}

.house {
    height: 330px;
    width: 400px;
    margin: 0px;
}

.house-pict {
    margin: 0;
    padding: 124px 103px 29px 162px;
}

.house-description {
    margin: 0;
    padding: 0px 133px 85px 73px;
}

/* .house h2 { 
    margin: 0;
    padding: 0 168px 31px 165px;
}

*/

/*
 .house p { 
    margin: 0;
    padding-bottom: 85px;
}

*/

.burger {
    height: 336px;
    width: 400px;
    margin: 0px;
}

.burger-pict {
    margin: 0;
    padding: 62px 163px 32px 163px;
}

.burger-description {
    margin: 0px;
    padding: 0px 58px 87px 58px;
}

.souvenir {
    height: 336px;
    width: 400px;
    margin: 0px;
}

.souvenir-pict {
    margin: 0;
    padding: 56px 168px 32px 162px;
}

.souvenir-description {
    margin: 0;
    padding: 0px 63px 86px 73px;
}

.feature-mountain {    
    margin: 0px;
    width: 1200px;
    height: 256px;
}

.mountain-pict {
    margin: 0;
    width: 800px;
    height: 256px;
}

.grey-container {
    width: 1200px;
    height: 256px;
    background-color:  #eeeeee;
}

.feature-territory {
    margin: 0;
    width: 400px;
    height: 256px;
    padding: 50px 97px 63px 95px;
}

.feature-road {
    margin: 0;
    width: 1200px;
    height: 256px;
    padding: 59px 69px 64px 69px;
}

.feature-tourists {
    margin: 0;
    width: 1200px;
    height: 256px;
    padding: 50px 77px 64px 77px;
}


.form-main {
    background-color: #ffffff;
    text-align: center;
}

.form-main p {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #000000;
}

.form-main span {
    font-size: 14px;
    line-height: 24px;
}

.brown-button {
    background-color: #766357;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    }

.search-form {
    background-color: #ffffff;
    color: #000000;
}

input[type="date"],
input[type="number"] {
    background-color: #f2f2f2; 
    color: #000000;
}

.blue-button {
    background-color: #81b3d2;
    color: #ffffff;
}

footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

.footer-social li {
    background-color: #81b3d2;
    list-style: none;
}